/* Common Style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section-heading {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

.section-subheading {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
}

/* Common Style end */
/* Nav style start */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px 30px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-family: "Arimo", sans-serif;
}

.reg-button>button {
    padding: 15px 30px;
    background-color: #1D4ED8;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

/* Nav style end */
/* Header style start */
header {

    background-image: url("./banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    padding: 80px 80px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.hero-section {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 200px;
    font-family: "Inter", sans-serif;
}

.hero-main {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-main>h1 {
    font-size: 4rem;
}

.hero-main>p {
    font-size: 1rem;
    line-height: 1.4rem;
}

.hero-btn>button {
    padding: 15px 30px;
    background-color: #1D4ED8;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}
.hero-btn>button:hover{
    color:#2563EB;
    background-color: #ffffff;
}

/* Header style end */
/* Meet the Speakers style start */
.meet-the-speakers {
    padding: 80px 0px;
}

.meet-the-speakers-heading {
    margin-bottom: 40px;
}

/* Speakers card start */
.speakers-all-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.094);
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.speaker-description {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.track-label {
    font-size: 0.7rem;
    font-weight: 700;
    color: #2563EB;
}

.speaker-name {
    font-size: 1.2rem;
    font-weight: 800;
}

.speaker-title {
    font-size: 0.8rem;
    font-weight: 200;
}

.speaker-image>img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}

/* Speakers card end */
/* Meet the Speakers style end */
/* Secure your spot style start */

.secure-your-spot {
    padding: 40px;
}

.secure-your-spot-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

/* Price Cards style start */
.price-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px 50px;
}

.price-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.059);
    padding: 20px;
    font-family: "Inter", sans-serif;
}

.label {
    font-size: 0.7rem;
    margin-bottom: 5px;
    color: #888888;
}

.price {
    font-size: 1.8rem;
    font-weight: 700;
}

.person {
    font-size: 0.7rem;
    font-weight: 200;
    color: #888888;
}

.divider {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #E5E7EB;
    margin: 20px 0px;
}
.features{
    padding: 0px 12px 10px;
}
.features>li{
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: #333333;
}
.features li::marker{
    color: #1D4ED8;
}
.standard-card-btn{
    padding: 10px;
    width: 100%;
    color:#2563EB;
    font-weight: 600;
    font-size: 0.7rem;
    border: 2px solid #2563EB;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.4s;
}
.standard-card-btn:hover{
    color:#ffffff;
    border: 2px solid #2563EB;
    background-color: #2563EB;
}
.pro-card-btn{
    padding: 10px;
    width: 100%;
    color:#ffffff;
    font-weight: 600;
    font-size: 0.7rem;
    border: 2px solid #2563EB;
    border-radius: 5px;
    background-color: #2563EB;
    cursor: pointer;
    transition: 0.4s;
}
.pro-card-btn:hover{
    color:#2563EB;
    border: 2px solid #2563EB;
    background-color: #ffffff;
}
.team-card-btn{
    padding: 10px;
    width: 100%;
    color:#111111;
    font-weight: 600;
    font-size: 0.7rem;
    border: 2px solid #111111;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.4s;
}
.team-card-btn:hover{
    color:#ffffff;
    border: 2px solid #000000;
    background-color: #000000;
}

/* Price Cards style end */
/* Secure your spot style end */

/* Newsletter style start */
.newsletter-section{
    padding: 80px;
    background-color: #071554;
    background-image:url("./newsletter-bg.jpg") ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    font-family:"Inter", sans-serif ;
}
.newsletter-box{
    padding: 40px;
    background-color:#000c3f ;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #00051b;
}
.newsletter-left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsletter-subheading{
    font-size: 1rem;
    font-weight: 400;
    color:#2a31e6 ;
    padding-bottom: 20px;
}
.newsletter-subheading>i{
    background-color:#2a31e6;
    color: #ffffff95;
    border-radius: 2px;
    margin-right: 5px;
    
}
.newsletter-heading{
    font-size: 2.5rem;
    color: #ffffff;
    line-height: 3rem;
}
.newsletter-description{
    font-size: 1rem;
    color: #ffffff87;
    padding: 30px 0px;
}
.newsletter-form{
    border: 1px solid #ffffff95;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}
.newsletter-form>form{
    display: flex;
    flex-direction: column;
}
.newsletter-form>form>label{
    font-weight: 400;
    padding-bottom: 5px;
}
.newsletter-form>form>input{
    padding: 12px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.newsletter-form input:focus {
    outline: none;
    box-shadow: 0px 0px 8px #0d48ea;
}
.newsletter-form button {
    padding: 15px 30px;
    margin-top: 10px;
    background-color: #1D4ED8;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.newsletter-form button:hover{
    color:#2563EB;
    background-color: #ffffff;
}

.newsletter-right-side>img{
    width: 100%;
}


/* Newsletter style end */

/* footer style start */
footer{
    background-color:#1E293B;

}
.footer-top{
    padding: 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons>a>i{
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}
.social-icons>a>i:hover{
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    color: #ffffff96;
    padding-bottom: 20px;
}
.footer-bottom{
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    color: #ffffff96;
    display: flex;
    justify-content: space-between;
}
/* footer style end */